* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 30px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider img {
    border: 0;
    width: 175px;
    height: 100px;
}
.main-img img {
    border: 0;
    width: 1170px;
    height: 600px;
}
.slider  {
    width: 1170px;
}
.slider-wrapper {
    width: 1090px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.slider-items {
    width: 10000px;
    position: relative;
}
.slider-item {
    float: left;
    width: 210px;
    padding: 5px 6px;
}
.image-link {
    display: block;
    width: 175px;
    height: 100px;
    overflow: hidden;
}
.button-left, .button-right {
    width: 28px;
    height: 36px;
    font-size: 40px;
    position: relative;
    top: 35px;
    cursor: pointer;
}
.button-left {
    float: left;

}
.button-right {
    float: right;
}
.active {
    box-shadow: 5px 3px 6px grey;
}